<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Makes:</strong>
  <%= @recipe.makes %>
</p>

<% unless @recipe.steps.empty? %>
<table>
  <strong>Steps:</strong>
  <tbody>
    <% @recipe.steps.each do |step| %>
    <tr>
      <td>
        <ul>
          <li><%= step.description %></li>
        </ul>
      </td>
      <td><%= link_to 'Edit Step', edit_recipe_step_path(@recipe, step) %></td>
    </tr>
  </tbody>
<% end %>
</table>
  <% else %>
  <p>This recipe has no steps.</p>
<% end %>
<%= link_to 'Add steps', new_recipe_step_path(@recipe) %>
<br>
<br>

<% unless @recipe.ingredients.empty? %>
    <table>
      <strong>Ingredients:</strong>
      <tbody>
        <% @recipe.ingredients.each do |ingredient| %>
        <tr>
          <td>
            <ul>
              <li><%= ingredient.element %></li>
            </ul>
          </td>
          <td><%= link_to 'Edit Ingredient', edit_recipe_ingredient_path(@recipe, ingredient) %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
  <% else %>
  <p>This recipe has no ingredients.</p>
<% end %>

<%= link_to 'Add ingredients', new_recipe_ingredient_path(@recipe) %>
<br>
<br>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
